<card class="view" id="cardView" style="display: none; padding-top:10px">
   <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">        <div class="card-header">Debit Card</div>
        <div class="card-body">
            <p class="card-text">Type: Visa Electron</p>
            <p class="card-text">Last 4 Digits: 1123</p>
            <p class="card-text">Status: Active</p>
        </div>
    </div>
</card>