{{>navbar}}

<div class="row">
    {{>jumbotronHome}}
    {{!-- {{> accountsBalance}} --}}
    {{>createTransaction}}

    {{>lastTransaction}}

    {{>accountsBalance}}
    {{>card}}
</div>


{{>footer}}