<navbar>
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td width="40">

              <img src='/static/bank.png'>
            </td>
            <td width="300">
              <p style="padding-top:10px; color:#2fa4e7; font-size:21px; vertical-align:top;">
                <strong>YBank</strong> </p>
            </td>
            <td width="899">
              <p style="text-align:right; vertical-align:top; font-size:16px;">Welcome, Iliya!</p>

            </td>
            <td width="80">
              <p style="text-align:right; vertical-align:top;"><a href="#">Log Out</a></p>
            </td>

          </tr>
        </table>
      </td>
    </tr>
  </table>



  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">My Account <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="true">Transactions</a>
          <div class="dropdown-menu " x-placement="bottom-start"
            style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#">Create</a>
            <a class="dropdown-item" href="#">History</a>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="true">Cards</a>
          <div class="dropdown-menu " x-placement="bottom-start"
            style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#">Request New Credit/Debit Card</a>
            <a class="dropdown-item" href="#">Report Stolen Card</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Credits</a>
        </li>
      </ul>




    </div>
  </nav>

</navbar>