<createTransaction class="view" id="createTransactionHome" style="display: none">

   <div >
<form style= "padding-top:10px" >
  <fieldset>
    <legend style="color:#337AB7">Create Transaction</legend>
    <div class="form-group">
      <label for="exampleInputEmail1">Recepient's Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Ex. example@email.com</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">IBAN</label>
      <input  class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Reason for payment</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>   
    </fieldset>
    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

   </div>
</createTransaction>